<%- include("partials/header") -%>

<section class="about-content">
    <div class="grid-container about-grid">
        <div class="grid-item">
            <img src="images/about.svg" alt="">
        </div>
        <div class="grid-item">
            <h1>About Us</h1>
            <p>
                Hey there! We're CodeRun. <br>
                Python is a powerful general-purpose programming language nowadays, and it is used in web development, data science, creating software prototypes and so on.
                <br><br>
                Our Python tutorials will guide you to learn Python, one step at a time!
            </p>
        </div>
    </div>
</section>

<section class="about-image" style="background: url('images/aboutus.jpg');">
    <div class="abt-overlay"></div>
    <div class="abt-grid-container">
        <div class="abt-grid-item">
            <div class="row-grid">
                <div class="row-1"><h2 class="abt-heading">Easy learning</h2></div>
                <div class="row-2"><p>We focus on simplicity, practicing is easy learning and smart work.</p></div>
            </div>
        </div>
        <div class="abt-grid-item">
            <div class="row-grid">
                <div class="row-1"><h2 class="abt-heading">Free for use</h2></div>
                <div class="row-2"><p>CodeRun is and always will be a free resource for our developers.</p></div>
            </div>
        </div>
        <div class="abt-grid-item">
            <div class="row-grid">
                <div class="row-1"><h2 class="abt-heading">Code & Learn</h2></div>
                <div class="row-2"><p>Use our code editor to test your python programs and see how much you know.</p></div>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer") -%>
