<%- include("partials/header") -%>

<style>
  .editor{
    background-color: #a9a9a9;
    border-radius: 5%;
    margin-top: 7%;
    width: 100%;
    }

  @media screen and (max-width: 600px) {
  .editor {
    margin-top: 35%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
</style>

<form action="">

    <textarea id="" name="editor" class="editor" rows="4" cols="50">
    Write your code here
      </textarea>
      <br><br>
      <input type="submit" value="Submit">
    </form>

<%- include("partials/footer") -%>