<%- include("partials/header") -%>

<p class="">hello world</p>
<link rel="stylesheet" href="editor.css">

<form action="/action_page.php">

    <textarea id="" name="editor" class="editor" rows="4" cols="50">
    Write your code here
      </textarea>
      <br><br>
      <input type="submit" value="Submit">
    </form>

<%- include("partials/footer") -%>