<%- include("partials/header") -%>

<p class="">hello world</p>
<<<<<<< HEAD
<link rel="stylesheet" href="editor.css">

<form action="/action_page.php">

    <textarea id="" name="editor" class="editor" rows="4" cols="50">
    Write your code here
      </textarea>
      <br><br>
      <input type="submit" value="Submit">
    </form>
 hello
=======
hello
bye bye
>>>>>>> bbb851447605254eeccaa219016d54110ae185e7
<%- include("partials/footer") -%>